.popupQR {
  position: absolute;
  bottom: 20px;
  right: -300px;
  width: 314px;
  height: 110px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: space-between;
}
.popupQR_Title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 194px;
  height: 76px;
  color: #fff;
  text-align: right;
  margin: auto 0;
}
.popupQR_QRCode {
  display: inline-block;
  width: 110px;
  height: 110px;
}
