.promoNumber {
  position: absolute;
  top: 0;
  left: -400px;
  height: 100%;
  width: 380px;
  pointer-events: all;
  background-color: #86d3f4;
  padding: 72px 48px;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-out ease-in;
}
.promoNumber_Title {
  font-size: 26px;
  line-height: 30px;
  width: 272px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.promoNumber_SubTitle {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 33px;
}

