.promoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(128, 128, 128, 0.3); */
  pointer-events: none;
  overflow: hidden;
}
.popupAlert {
  position: absolute;
  bottom: 210px;
  right: 0;
  height: 100px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  /* transition: right .2s linear; */
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.popupNumber {
  position: absolute;
  top: 0;
  left: -400px;
  height: 100%;
  width: 400px;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.exitButton {
  position: absolute;
  top: 70px;
  right: -140px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  pointer-events: all;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.exitButton:before,
.exitButton:after {
  content: "";
  width: 80%;
  height: 4px;
  background: #bfe2ff;
  position: absolute;
  top: 48%;
  left: 10%;
  transform: rotate(45deg);
}
.exitButton:after {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}

.popupQR {
  position: absolute;
  bottom: 100px;
  right: -300px;
  height: 100px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
